/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root {
  --name-color: #cd3131;
  --intro-text-color: black;
  --text-shadow-color: rgb(0, 0, 0);
}


html{
    background-color: #fbc068;
    font-family: 'jacques francois';
    scroll-behavior: smooth;
}

a:visited{
    color: black;
}

a{
    color: blue;
}

.header-container{
    text-align: center;
    color: var(--name-color);
    margin: none;
    font-size: 7vw;
    margin: 2%;
    text-shadow: 3px 3px var(--text-shadow-color);

}

#grid-container{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 2vw;
    margin-top: 4vh;
}


#first-grid-item{
    
    grid-column: 1;
    font-size: 10vw;
    text-align: center;
    color: var(--name-color);
    text-shadow: 3px 3px var(--text-shadow-color);
}

#second-grid-item{
    
    grid-column: 2;
    grid-row: 1 / span 2;
    border-style: dashed;
    border-width: 0.3rem;
}

#third-grid-item{
    grid-column: 3;
    font-size: 10vw;
    color:var(--name-color);
    text-shadow: 3px 3px var(--text-shadow-color);

}

#fourth-grid-item{
    grid-column: 1;
    font-size: 4vw;
    color: var(--intro-text-color);
}

#fifth-grid-item{
    grid-column: 3;
    font-size: 5vw;
}
#main-portrait{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

#fourth-grid-item > p{
    position: absolute;
    color: rgba(255, 255, 255, 0.982);
}
#rug-image{
    width:20%;
    display: block;
    position: absolute;
    box-shadow: 6px 6px rgb(0, 0, 0);
}

#portrait-container{
    margin: auto;
    border-style:dashed;
    width: 30%;

}

hr{
    margin: auto;
    border-top: 3px solid rgb(0, 0, 0);
    width: 80%;
    margin-top: 5%;
}




#aboutPageBreak > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#aboutPageBreak > div > img{
    width: 20%;
    object-fit: contain;
    
}
#aboutPageText{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0%;
    width: 40%;
    font-size: 1.5rem;
    margin-right: 7%;
    min-width: 300px;
    background-color: #e0e1b1d4;
    border-style:dashed;
}



#projectPageBreak{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin:auto;
    margin-top: 0%;
    
    
}

#projectPageBreak > div > div {
    margin: auto;
    width: 100%;
    /* border-style: solid;
    border-color:rgb(16, 98, 41);
    border-width:2rem; */
}

#projectPageBreak > div > div > video{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-style: solid;
    box-shadow: 6px 6px rgb(0, 0, 0);
    
}

#projectPageBreak > div > div > img{
    width: 100%;
    aspect-ratio: 3.3/2;
    margin: auto;
    border-style: solid;
    box-shadow: 6px 6px rgb(0, 0, 0);
}

.project-column-one{

    grid-column: 1;
    border-style:dotted;
    text-align: center;
    width: 40%;
    margin-right: 1%;
    margin-bottom: 1%;
    min-width: 300px;
    margin-top: 1%;
}

.project-column-one > h2{
    font-size: large;
}

.project-column-one > h1 > span{
    text-shadow: 2px 2px rgb(255, 255, 255);
    font-size: 2rem;

}

.project-column-one > h4{
    margin-top: 0;

}

.project-column-one > div{
    background-color:#b1cbe1d4;
    font-size: 1.1rem;
    text-align: left;
    width: 50%;
}

.project-column-one > div > div{
    margin: auto;
    width: 90%;
    padding-top: 1px;
    padding-bottom: 1px;
}
.project-column-two{
    width: 50%;
    grid-column: 2; 
    font-size:0;
    margin-top: 1%;
    margin-bottom: 1%;
    min-width: 400px;

}

.about-text{
    width: 35%;
    font-size: 1.4rem;
    margin: none;
    margin-top: 2%;
    background-color: #BCE6AF;
    
 }

.about-container{

    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 90%;
    margin: auto;

}

#overflow{
    width: 20%; 
    margin-top:5%;
}

@media only screen and (max-width: 1000px) {

    #aboutPageText{
        width: 100%;
        margin-right: 0%;
    } 

    #aboutPageBreak > div > img{
    width: 30%;
    object-fit: contain;
    margin-top: 2%;
    
    }

    .project-column-one{
        width: 90%;
    }

    .project-column-two{
    width: 70%;
    }

    .about-text{
        background-color: rgb(19, 4, 154);
        width: 95%;
    }

    #overflow{
        width: 50%;
        
    }

    
    
}


















