*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    /* color: #0f0 !important; */
    /* outline: solid #f00 1px !important; */
}

 
@font-face {
    font-family: 'jacques francois';
    src: url('./JacquesFrancois-Regular.ttf');
}

html{
    background-color: #EBDFD3;
    font-family: 'jacques francois';
    scroll-behavior: smooth;
}

.menubar{
    /* #EFE6DD */
    overflow: hidden;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    max-width: 81rem;
    margin: auto;
    border-radius: 8px;
    margin-top: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.socialDrop{
  margin-top: 2.5rem;
  width: 15rem;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.socialButton{
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

#copiedMessage{
  opacity: 0;
  background-color:rgba(121, 142, 123, 0.192);
  border-radius: 6px;
  text-align: center;
  height: 2rem;
  width: 12rem;
  position: relative;
}

#copiedMessage p{
  padding-top: 0.3rem;
}

.menubar a {
 float: left;
 color: #000000;
 text-align: center;
 padding: 2.4rem 2rem;
 text-decoration: none;
 font-weight:400;
 font-size: 1.12rem;
 }

.buttonElement{
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.buttonElement:hover{
  color:#BC673C;
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}



.modal{
  display:none;
  z-index: 1;
  background-color: #3C5451;
  overflow: auto;
  position: fixed;
  width: 50%;
  height: auto;
  left: 22rem;
  top: 4rem;
  border-radius: 5px;
  animation: popup 0.4s;
}



#mButton:hover{
  background-color:rgba(51, 36, 36, 0.314);
  cursor: pointer;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 1rem;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#introductionPage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-top: 9rem;
    text-align: center;
    align-items: center;
    background-image: url("./images/mountainsVector5.png");
    background-size: 55rem;
    max-width: 70rem;
}


#introductionPageText{
    max-width: 35rem;
    margin-bottom: 5rem;
}


#modalButton{
  width: 100%;
  margin-top: 1rem;

}

#mButton{
  font-size: 1.2rem;
  background-color:rgba(51, 36, 36, 0.698);
  font-family: 'jacques francois';
  border-radius: 9px;
  width: 8rem;
  text-align: center;
  height: 1.7rem;
  margin: auto;
}

#mButton a{
  color: rgb(252, 250, 248, 0.85);
  text-decoration: none;
}



#sunIcon{
  animation: rotation 15s infinite;
}

#aboutPage{
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 80rem;
    margin: auto;
    margin-top: 9rem;
}

.cactus{
  /* animation: rotateBack 2s infinite; */
}

#aboutPage p{
    color: #332424;
    font-size: 1.2rem;
}

.skillsPage img{
    max-width: 1rem;
    height: 1rem;
    margin: auto;
}

.skillsPage{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    max-width: 60rem;
    font-size: 1.5rem;
}


.skillsPage p{
  margin-right: 1rem;
  margin-left: 1rem;
}
.projectSlide{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projectSlideElement{
  margin-top: 5rem;
  margin-left: 5rem;
  font-size: 1.1rem;
  width: 36rem;
  height: auto;
}

.projectSlideElement p{
  background-color:rgba(64, 88, 86, 0.082);
  border-radius: 6px;
  width: 24rem;
}

.projectSlideElement img{
  border-radius: 9px;
  border: 7px solid rgb(137, 81, 66, 0.67);
  margin-top: 1rem;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  height: 90%;
  width: 100%;
}

.projectSlideElement:hover img{
  -webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.content-slider {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.slider {
  /* width: 20rem; */
  width: 22.9rem;
  overflow: visible;
}

.mask {
  overflow: hidden;
  height: 5rem;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  position: absolute;
  list-style: none;
}

.slider .quote {
  font-size: 3.5rem;
  color:#BC673C;
  margin-left: 1rem;
}


.slider li.anim1 {
  animation: cycle 15s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 15s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 15s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 15s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 15s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0rem;
  }
  4% {
    top: 0rem;
  }
  16% {
    top: 0rem;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 2rem;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -2rem;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -2rem;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -2rem;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -2rem;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -2rem;
    opacity: 0;
  }
  16% {
    top: -2rem;
    opacity: 0;
  }
  20% {
    top: 0rem;
    opacity: 1;
  }
  24% {
    top: 0rem;
    opacity: 1;
  }
  36% {
    top: 0rem;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 2rem;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -2rem;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -2rem;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -2rem;
    opacity: 0;
  }
  36% {
    top: -2rem;
    opacity: 0;
  }
  40% {
    top: 0rem;
    opacity: 1;
  }
  44% {
    top: 0rem;
    opacity: 1;
  }
  56% {
    top: 0rem;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 2rem;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -2rem;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -2rem;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -2rem;
    opacity: 0;
  }
  56% {
    top: -2rem;
    opacity: 0;
  }
  60% {
    top: 0rem;
    opacity: 1;
  }
  64% {
    top: 0rem;
    opacity: 1;
  }
  76% {
    top: 0rem;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 2rem;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -2rem;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -2rem;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -2rem;
    opacity: 0;
  }
  76% {
    top: -2rem;
    opacity: 0;
  }
  80% {
    top: 0rem;
    opacity: 1;
  }
  84% {
    top: 0rem;
    opacity: 1;
  }
  96% {
    top: 0rem;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 2rem;
    opacity: 0;
    z-index: 0;
  }
}

@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}

@keyframes rotateBack{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(8deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes popup {
  0%{
    transform: translate(0rem, 20rem);
  }
  5%{
    transform: translate(0rem, 19rem);
  }
  10%{
    transform: translate(0rem, 18rem);
  }
  15%{
    transform: translate(0rem, 17rem);
  }
  20%{
    transform: translate(0rem, 16em); 
  }
  25%{
    transform: translate(0rem, 15rem);
  }
  30%{
    transform: translate(0rem, 14rem); 
  }
  35%{
    transform: translate(0rem, 13rem);
  }
  40%{
    transform: translate(0rem, 12rem); 
  }
  45%{
    transform: translate(0rem, 11rem);
  }
  50%{
    transform: translate(0rem, 10rem); 
  }
  55%{
    transform: translate(0rem, 9rem);
  }
  60%{
    transform: translate(0rem, 8rem); 
  }
  65%{
    transform: translate(0rem, 7rem);
  }
  70%{
    transform: translate(0rem, 6rem); 
  }
  75%{
    transform: translate(0rem, 5rem);
  }
  80%{
    transform: translate(0rem, 4rem); 
  }
  85%{
    transform: translate(0rem, 3rem);
  }
  90%{
    transform: translate(0rem, 2rem); 
  }
  95%{
    transform: translate(0rem, 1rem);
  }
  100%{
    transform: translate(0rem, 0rem); 
  }
}






